html,body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2b2b2b;
}


.navigation {
    /* background-color: #2b2b2b; */
    color: white;
    height: 50px;
}

.navigation ul {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
    text-align: right;
    height: 50px;
}

.navigation li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;
}



.capa {
    color: white;
}

.capa span {
    color: #f27609;
    display: block;
}

.capa div {
    display: inline-block;
    height: 650px;
}

.profile-picture {
    width: 40%;
    text-align: center;
}

.profile-picture img {
    width: 350px;
    border-radius: 50%;
    margin-top: 100px;
}

.profile-title {
    vertical-align: top;
    width: 59%;
}

.profile-title h1 {
    font-size: 50px;
    margin-top: 250px;
}
.profile-title h2 {
    font-size: 16px;
}